.next_button
{
	width:32px;
	height:32px;

	position:relative;
	float:left;

	margin-left:2px
}

body
{
	background-color:#DCDCDC;
}

.header
{
	text-align:center;
}

.interface
{
	width:490px;
	height:190px;

	padding-top:10px;
	padding-bottom:10px;
	
	padding-left:10px;
	padding-right:7px;

	border-radius:15px;


	margin-top:20px;
	margin-bottom:2px;

	margin-left:auto;
	margin-right:auto;

	background-color:#99aacc;
}

.tags_div
{
	height:32px;
	margin-bottom:5px;
}

.tags
{
	width:480px;
	height:26px;
	
	font-size:18px;
}

.audio
{
	position:relative;
	float:left;
}

.track_links
{
	margin-bottom:2px;
	width:336px;
	height:64px;
}

.track_link
{
	margin-left:2px;
	margin-right:2px;
}

.audio_player
{
	margin-left:1px;
	margin-bottom:2px;

	height:32px;
	width:336px;
}

.rate_div
{
}

.yup_undepressed
{
	width:166px;
	height:32px;
}

.nope_undepressed
{
	width:166px;
	height:32px;
}

.yup_depressed
{
	width:166px;
	height:32px;

	background-color:#99DD99
}

.nope_depressed
{
	width:166px;
	height:32px;

	background-color:#DD9999
}

.audio_div
{
	position:relative;
	float:left;
}

.art_div
{
	position:relative;
	float:left;
	width:150px;
	height:150px;

	margin-right:2px;
}

.art_img
{
	width:150px;
	height:150px;
}
