.next_button
{
	width:32px;
	height:32px;

	position:relative;
	float:left;

	margin-left:5px
}

.audio
{
	position:relative;
	float:left;
}

.tags_div
{
	margin-top:3px;
	margin-bottom:3px;
}

.track_link
{
	margin-left:2px;
	margin-right:2px;
}

.audio_div
{
	/*margin-top:3px;
	margin-bottom:3px;*/
}
